
<style>
table{border:solid 4px #444; width: 50%;}
td{border:solid 1px #444;}
</style>
<h1>Demande de contact</h1>
<table class="table table-striped">
    <tr>
        <td>Nom du bien</td>
        <td><a href="{{ url('property.show', {id: contact.property.id, slug: contact.property.slug}) }}">{{ contact.property.title }}</a></td>
    </tr>
        
    <tr>
        <td>Prénom</td>
        <td>{{ contact.firstname }}</td>
    </tr>

    <tr>
        <td>Nom</td>
        <td>{{ contact.lastname }}</td>
    </tr>

    <tr>
        <td>Email</td>
        <td>{{ contact.email }}</td>
    </tr>

    <tr>
        <td>Téléphone</td>
        <td>{{ contact.phone }}</td>
    </tr>

    <tr>
        <td>Message</td>
        <td>{{ contact.message | nl2br }}</td>
    </tr>
</table>