{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>HOMEPAGE</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex quaerat ullam omnis, odit temporibus explicabo nobis fugiat eos aut dolore ducimus commodi sed, pariatur, possimus magni blanditiis inventore iusto libero!</p>
    </div>
</div>
<div class="container">
    <h2>les derniers biens</h2>
    <div class="row flex">
        {% for property in properties %}
            <div class="col-3">
                <div class="card">
                    <div class="card-mb-4">
                        {% if property.filename %}
                            <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb') }}" alt="" class="card-img-top" style="width: 100%; height: auto;">
                            {% else %}
                                <img src="{{ '/images/properties/default.jpg' | imagine_filter('thumb')}}" alt="" class="card-img-top" style="width: 100%; height: auto;">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">
                                {{ property.city }} ({{ property.postalCode }})
                            </p>
                            <div class="text-primary" style="font-weight: bold; font-size: 2rem;">
                                {{ property.formatedPrice }} €
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}